/* general settings */

body{
    font-family: "Raleway", sans-serif;
    padding: 0px;
    margin: 0px;
}

.container{
    width: 1620px;
    margin: 0 auto;
}

.button{
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px 30px;
    text-transform: capitalize;
}

.tab{
    text-align: center;
    border-radius: 10px;
    width: 527px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.25);
    padding: 30px 35px 53px 35px;
}

.tab:hover{
    background-color: #ff463a;

    .address-title, .phone-title, .email-title{
        color: #fff;
    }

    .address-address, .phone-link, .email-link{
        color: #fff;
    }

    transition-duration: 1s;
}

h1, h2, h3, a, p, address, ul, li, button{
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
}

h1, h2, h3{
    font-family: "Nunito", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

address{
    font-style: normal;
}





.header{
    padding: 20px 0px;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 188px;
}

.header-logo-div{
    display: flex;
    align-items: center;
}

.header-logo-link{
    display: flex;
    align-items: center;
    gap: 37px;
}

.header-logo{
    width: 80px;
    height: 80px;
}

.header-text{
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #ff993a;
}

.header-nav{
    display: flex;
    gap: 65px;
}

.item-link{
    text-transform: capitalize;
}

.item-link:hover{
    color: #ff993a;
    font-weight: 600;
    transition-duration: .2s;
}





.banner{
    background-color: #ffe4cc;
}

.banner-container{
    display: flex;
    align-items: center;
    gap: 397px;
}

.banner-subtitle{
    font-size: 16px;
    color: #ff993a;
    margin-bottom: 20px;
    width: 246px;
}

.banner-title{
    font-weight: 700;
    font-size: 48px;
    color: #ff463a;
    width: 273px;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.banner-text{
    font-family: "Nunito", sans-serif;
    width: 527px;
    margin-bottom: 45px;
}

.banner-btn{
    color: #fff;
    background-color: #ff463a;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    border: none;
}

.banner-btn:hover{
    font-weight: 900;
    transition-duration: .2s;
}





.popular{
    padding: 60px 0px;
}

.popular-container{
    display: flex;
    align-items: center;
}

.popular-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.popular-item{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #efefef;
    border-radius: 10px;
    gap: 117px;
    padding: 0px 70px 0px 140px;
}

.popular-title{
    font-weight: 700;
    font-size: 36px;
    color: #ff463a;
    margin-bottom: 10px;
    width: 233px;
}

.popular-text{
    margin-bottom: 45px;
}

.popular-btn{
    font-weight: 500;
}

.popular-btn:hover{
    border: 2px solid #000;
}





.flavor{
    background-color: #ffe4cc;
    padding: 60px 0px 100px 0px;
}

.flavor-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flavor-title{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #ff463a;
    margin-bottom: 40px;
    margin-left: 65px;
    width: 661px;
}

.flavor-text{
    text-align: center;
    margin-bottom: 68px;
    width: 790px;
}

.flavor-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.flavor-img{
    border-radius: 5px;
    width: 390px;
    height: 300px;
}





.contact{
    padding: 100px 0px;
}

.contact-list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.email-icon{
    margin-bottom: 40px;
}

.email-title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #ff463a;
    margin-bottom: 25px;
}

.email-link{
    font-size: 24px;
    text-align: center;
    color: #000;
}

.phone-icon{
    margin-bottom: 40px;
}

.phone-title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #ff463a;
    margin-bottom: 25px;
}

.phone-link{
    font-size: 24px;
    text-align: center;
    color: #000;
}

.address-icon {
    margin-bottom: 40px;
}

.address-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #ff463a;
    margin-bottom: 25px;
}

.address-address {
    font-size: 24px;
    text-align: center;
    color: #000;
}




.footer{
    padding: 60px 0px;
    background-color: #181818;
}

.footer-container{
    display: flex;
    align-items: center;
    gap: 1014px;
}

.footer-logo-div {
    display: flex;
    align-items: center;
}

.footer-logo-link{
    display: flex;
    align-items: center;
    gap: 37px;
}

.footer-logo {
    width: 80px;
    height: 80px;
}

.footer-text {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #ff993a;
}

.footer-rights{
    color: #fff;
    font-family: "Inter", sans-serif;
    width: 420px;
}